.about {
    @include query(mobile) {
        min-width: 100% !important;
        padding: 0 !important;
    }
    .heading {
        h1 {
            img {
                width: 25%;
                @include query(mobile) {
                    width: 75%;
                }
                @include query(tablet) {
                    width: 40%;
                }
            }
        }
    }

    .caption {
        h2 {
            color: $olive;
            font-size: 2.5rem;
        }
    }
}

.main-content {
        article {
            font-family: $quicksand;
            text-align: justify;
            line-height: 1.65;
            font-size: 1.03rem;

            @include query(mobile) {
                width: 100% !important;
                text-align: center;
            }
           
            .pic1 {
                width: 65%;
                @include query(mobile) {
                    width: 100%;
                }
             
            }
        }
  
}

.card {
    border-radius: 0;
    .card-img-overlay {
        border-radius: 0;
        display: flex;
        align-content: center;
        blockquote {
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            @include query(mobile) {
                
            }
            @include query(laptop) {
                font-size: 1.2rem;
            }
            @include query(laptop-lg) {
                font-size: 1.4rem;
            }
            .phrase {
                font-size: 1.6rem;
                @include query(laptop) {
                    font-size: 1.4rem;
                }
                @include query(laptop-lg) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    @include query(tablet) {
        width: 50%;
    }
}