.dm-sans {
    font-family: $quicksand;
}

.shadow {
    box-shadow: $shadow;
}

.olive {
    background-color: $olive;
}

.forest {
    background-color: $forest;
}

.register {
    font-family: $register;
}