@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@font-face {
  font-family: "Register Sans BTN";
  src: url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.eot");
  /* IE9*/
  src: url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.eot?#iefix") format("embedded-opentype"), url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.woff2") format("woff2"), url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.woff") format("woff"), url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.ttf") format("truetype"), url("../fonts/RegisterSans/RegisterSansBTN/@font-face/00e33ab22d743f78fcc84a5b079ee93c.svg#Register Sans BTN") format("svg");
  /* iOS 4.1- */
}

.dm-sans {
  font-family: "Quicksand", sans-serif;
}

.shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.olive {
  background-color: #657533;
}

.forest {
  background-color: #1f4d28;
}

.register {
  font-family: "Register Sans BTN", "sans-serif";
}

.intro {
  height: 100vh;
}

.intro .carousel {
  z-index: 1;
  padding: 0;
  position: absolute;
}

@media (max-width: 575.98px) {
  .intro .carousel {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
  }
}

.intro .carousel .carousel-item {
  max-height: 100vh;
  width: 100%;
}

@media (max-width: 575.98px) {
  .intro .carousel .carousel-item img {
    min-height: 100vh;
    min-width: 250%;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .intro .carousel .carousel-item img {
    min-height: 100vh;
    min-width: 175%;
  }
}

@media (min-width: 991.98px) {
  .intro .carousel .carousel-item img {
    min-height: 100vh;
    min-width: 125%;
  }
}

.intro .overlay {
  z-index: 2;
  position: absolute;
  background-color: rgba(31, 77, 40, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 575.98px) {
  .intro .overlay {
    min-height: 100vh;
  }
}

.intro .overlay img {
  z-index: 2;
  width: 30%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 575.98px) {
  .intro .overlay img {
    width: 85%;
    margin-top: 10%;
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .intro .overlay img {
    width: 60%;
    margin-top: 10%;
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
  }
}

.intro .overlay h1 {
  color: #ebe8d3;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .intro .overlay h1 {
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: top;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .intro .overlay h1 {
    font-size: 2.75rem;
  }
}

.overlay a {
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
  z-index: 2;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.overlay a .arrow {
  z-index: 2;
  width: 3vw;
}

@media (max-width: 575.98px) {
  .overlay a .arrow {
    width: 50px;
    z-index: 2;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .overlay a .arrow {
    width: 3rem;
  }
}

@media (min-width: 991.98px) {
  .overlay a .arrow {
    width: 3rem;
  }
}

.overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 575.98px) {
  .overlay ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.overlay ul a {
  text-decoration: none;
  color: #ebe8d3;
}

.overlay ul li i {
  font-size: 2rem;
}

.overlay ul li .fa-instagram, .overlay ul li .fa-envelope {
  font-size: 2.45rem;
}

.overlay ul li .fa-shopping-cart, .overlay ul li .fa-phone-alt {
  margin-top: 5px;
}

@media (max-width: 575.98px) {
  .about {
    min-width: 100% !important;
    padding: 0 !important;
  }
}

.about .heading h1 img {
  width: 25%;
}

@media (max-width: 575.98px) {
  .about .heading h1 img {
    width: 75%;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .about .heading h1 img {
    width: 40%;
  }
}

.about .caption h2 {
  color: #657533;
  font-size: 2.5rem;
}

.main-content article {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  line-height: 1.65;
  font-size: 1.03rem;
}

@media (max-width: 575.98px) {
  .main-content article {
    width: 100% !important;
    text-align: center;
  }
}

.main-content article .pic1 {
  width: 65%;
}

@media (max-width: 575.98px) {
  .main-content article .pic1 {
    width: 100%;
  }
}

.card {
  border-radius: 0;
}

.card .card-img-overlay {
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card .card-img-overlay blockquote {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 991.98px) {
  .card .card-img-overlay blockquote {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .card .card-img-overlay blockquote {
    font-size: 1.4rem;
  }
}

.card .card-img-overlay blockquote .phrase {
  font-size: 1.6rem;
}

@media (min-width: 991.98px) {
  .card .card-img-overlay blockquote .phrase {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .card .card-img-overlay blockquote .phrase {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .products {
    min-width: 100% !important;
    padding: 0 !important;
  }
}

.products .heading h1 .eng img {
  width: 23%;
}

@media (max-width: 575.98px) {
  .products .heading h1 .eng img {
    width: 75%;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .products .heading h1 .eng img {
    width: 40%;
  }
}

.products .heading h1 .turk img {
  width: 27%;
}

@media (max-width: 575.98px) {
  .products .heading h1 .turk img {
    width: 85%;
  }
}

@media only screen and (min-width: 576.02px) and (max-width: 768.98px) {
  .products .heading h1 .turk img {
    width: 46%;
  }
}

@media (max-width: 575.98px) {
  .products p {
    min-width: 100% !important;
    font-size: 1.12rem;
  }
}

.gotoshop .card {
  width: 75%;
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .gotoshop .card {
    min-width: 100%;
  }
}

.gotoshop .card .card-img {
  border-radius: 0;
}

.gotoshop .card .card-img-overlay {
  background-color: rgba(31, 77, 40, 0.8);
  border-radius: 0;
  opacity: 0;
}

.gotoshop .card .card-img-overlay:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 575.98px) {
  .gotoshop .card .card-img-overlay h2 {
    margin-top: 1% !important;
  }
}

article {
  text-align: justify;
  line-height: 1.65;
  font-size: 1.03rem;
}

@media (max-width: 575.98px) {
  article {
    min-width: 100% !important;
    font-size: 1.12rem;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  article span {
    text-align: center;
  }
}

article .pic-div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  article .pic-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

article .pic-div .pic2 {
  margin: 0 auto;
  width: 48%;
}

@media (max-width: 575.98px) {
  article .pic-div .pic2 {
    width: 100%;
  }
}

article .pic3 {
  width: 37%;
  float: left;
  padding-right: 1rem;
}

@media (max-width: 575.98px) {
  article .pic3 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
    padding-bottom: 2%;
  }
}

@media (max-width: 575.98px) {
  .contact {
    min-width: 100% !important;
    padding: 0 !important;
  }
}

.contact .heading h1 .eng img {
  width: 20%;
}

@media (max-width: 575.98px) {
  .contact .heading h1 .eng img {
    width: 60%;
  }
}

.contact .heading h1 .turk img {
  width: 20%;
}

@media (max-width: 575.98px) {
  .contact .heading h1 .turk img {
    width: 57%;
  }
}

@media (max-width: 575.98px) {
  .contact .heading p {
    min-width: 100% !important;
    padding: 0 !important;
    font-size: 1.12rem;
  }
}

.contact i {
  font-size: 2rem;
  color: #1f4d28;
}

.contact .fa-instagram {
  font-size: 2.2rem;
}

@media (max-width: 575.98px) {
  .contact ul {
    padding: 0;
    max-width: 65%;
    margin: auto;
  }
}

.contact ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

@media (max-width: 575.98px) {
  .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact a {
  text-decoration: none;
  color: #1f4d28;
}

.contact .map-div iframe {
  min-height: 280px;
  padding: 1px;
}

.contact h2 {
  font-weight: bolder;
}

@media (max-width: 575.98px) {
  .contact .cm {
    border: none !important;
  }
}

@media (max-width: 575.98px) {
  .contact .cm form {
    min-width: 100% !important;
    padding: 0 !important;
    font-size: 1.12rem;
  }
}

.contact .cm form input, .contact .cm form textarea {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .contact .reserve {
    margin: 0 auto;
    text-align: center;
    min-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 10%;
    font-size: 1.12rem;
  }
}

.cc .address-div .address img {
  width: 10%;
}

@media (max-width: 575.98px) {
  .cc .address-div .address img {
    width: 25%;
    font-size: 1.12rem;
  }
}

@media (max-width: 575.98px) {
  .galeri {
    min-width: 100% !important;
    padding: 0 !important;
  }
}

.galeri .heading h1 .eng img {
  width: 19%;
}

@media (max-width: 575.98px) {
  .galeri .heading h1 .eng img {
    width: 57%;
  }
}

.galeri .heading h1 .turk img {
  width: 18%;
}

@media (max-width: 575.98px) {
  .galeri .heading h1 .turk img {
    width: 50%;
  }
}

.galleria {
  width: auto;
  height: 750px;
  padding-top: 10px;
}

.galleria .galleria-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.galleria .galleria-thumbnails .galleria-image {
  width: 200px;
}

@media (max-width: 575.98px) {
  .galleria .galleria-thumbnails .galleria-image {
    width: 150px;
  }
}

p {
  font-size: 0.75rem;
}

@media (max-width: 575.98px) {
  .shop {
    min-width: 100% !important;
    padding: 0 !important;
  }
}

.shop .heading h1 .eng img {
  width: 30%;
}

@media (max-width: 575.98px) {
  .shop .heading h1 .eng img {
    width: 90%;
  }
}

.shop .heading h1 .turk img {
  width: 23%;
}

@media (max-width: 575.98px) {
  .shop .heading h1 .turk img {
    width: 67%;
  }
}

.shop article {
  text-align: center;
  font-size: 1rem;
}

.shop article h1 {
  font-size: 1.75rem;
}

.shop article div img {
  width: 30%;
}

.shop .btn {
  background-color: #1f4d28;
  color: #fff;
}

@media (max-width: 575.98px) {
  .shop .myecwid {
    padding: 0 !important;
  }
}

@media (max-width: 575.98px) {
  .shop .myecwid .category img {
    width: 25%;
  }
}

body {
  overflow-x: hidden;
}

.container {
  background-color: #ebe8d3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.container h1 {
  font-size: 3em;
}

@media (max-width: 575.98px) {
  .container h1 {
    font-size: 3rem;
  }
}

.container .whitespace {
  height: 15vh;
}

.container button {
  background-color: #1f4d28;
  color: white;
}

nav {
  font-size: 1rem;
  font-weight: bold;
  background-color: #1f4d28;
}

nav .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .lang .lng {
  font-size: 0.85rem;
}

nav .lang ul {
  background-color: #1f4d28;
}
/*# sourceMappingURL=style.css.map */